<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
/*
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
*/

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  .align{
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .heading{
    font-size: x-large;
    height: 30px;
    text-underline-position: below;
    

  }
.p-input{
  padding: -5px;
  margin: 0fr;
}
body{
  background: url(bgimage1.jpg);
  font-style: italic;
  color: antiquewhite;
  font-family: 'Pacifico', cursive;
  
}
body:hover{
  background: url(bgimage5.jpg);
  background-color: rgba(99, 4, 62, 0.404);

}
.modal-content{
  background-color: rgba(16, 3, 46, 0.705);
}

form{
  background-color: rgba(16, 3, 46, 0.123);
}
.btn-light:hover{
  background-color: gray;
  box-shadow: moccasin;
}
.image{
  width: 25px;
  height: 25px;
  float: right;
  position: absolute;
  /*left: 420px;
  top: 427px;*/
  left: 62%;
  top: 54.7%;
}